#!/bin/bash
export SOLANA_METRICS_CONFIG="host={{ solana_metrics_url }}"
exec {{ env_path }}/agave-validator \
    --identity {{ secrets_path }}/validator-keypair.json \
{% if vote_account_pubkey is defined %}
    --vote-account {{ vote_account_pubkey }} \
{% else %}
    --vote-account {{ secrets_path }}/vote-account-keypair.json \
{% endif %}
    --authorized-voter {{ secrets_path }}/funded-validator-keypair.json \
{% for known_validator in known_validators %}
    --known-validator {{ known_validator }} \
{% endfor %}
    --only-known-rpc \
    --private-rpc \
    --rpc-bind-address 127.0.0.1 \
    --full-rpc-api \
    --log {{ validator_log_path }}/solana-validator.log \
    --ledger {{ ledger_path }} \
    --accounts {{ accounts_path }} \
    --snapshots {{ snapshots_path }} \
    --maximum-incremental-snapshots-to-retain 2 \
    --rpc-port {{ rpc_port }} \
    --dynamic-port-range {{ dynamic_port_range }} \
{% for entrypoint in entrypoints %}
    --entrypoint {{ entrypoint }} \
{% endfor %}
    --expected-genesis-hash {{ expected_genesis_hash }} \
    --wal-recovery-mode skip_any_corrupted_record \
    --block-verification-method unified-scheduler \
    --limit-ledger-size