[Unit]
Description=Solana Validator
After=network.target{% if xdp.enabled | default(false) %} solana-xdp-nic.service{% endif %}

{% if xdp.enabled | default(false) %}
Wants=solana-xdp-nic.service
{% endif %}
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ solana_user }}
LimitNOFILE=2024000
LimitMEMLOCK=2000000000
LogRateLimitIntervalSec=0
{% if xdp.enabled | default(false) %}
CapabilityBoundingSet=CAP_NET_RAW CAP_NET_ADMIN CAP_BPF CAP_PERFMON
AmbientCapabilities=CAP_NET_RAW CAP_NET_ADMIN CAP_BPF CAP_PERFMON
{% endif %}
Environment="PATH=/bin:/usr/bin:{{ env_path }}"
ExecStart="/home/{{ solana_user }}/start-node.sh"

[Install]
WantedBy=multi-user.target