[Unit]
Description=Solana Alerting
Requires=network-online.target chrony.service
After=network-online.target chrony.service

[Service]
Type=exec
User=solana
Restart=on-failure
Environment=RUST_LOG=info
Environment=PAGERDUTY_INTEGRATION_KEY={{ pager_duty_key }}
Environment=IDENTITY={{ validator_identity_pubkey }}

ExecStart=/home/solana/.cargo/bin/agave-watchtower \
	--validator-identity=${IDENTITY} \
	--url=http://127.0.0.1:8899 \
    --minimum-validator-identity-balance=1

[Install]
WantedBy=multi-user.target