from common import ValidatorConfig

config = ValidatorConfig(
    validator_name="{{ validator_name }}",
    ledger_path="{{ ledger_path }}",
    vote_account_pubkey="{{ vote_account_pubkey }}",
    local_rpc_address="{{ cluster_rpc_address }}",
    remote_rpc_address="{{ remote_cluster_rpc_address }}",
    cluster_environment="{{ cluster_environment }}-beta",
    debug_mode=False
)
